.region-footer{
  background-color: $color-blue;
  padding: 30px;
  border-bottom: 5px solid $color-secondary;
  width: 100%;
  bottom: 0;

  #block-footermenu{
    ul.menu{
      display: flex;
      @media (max-width: 315px){
        flex-wrap: wrap;
      }

      li{
        margin-right: 30px;
        a{
          color: $color-white;
          font-size: 16px;
          font-family: 'aleo';
          text-decoration: none;
          &:hover{
            color: $color-secondary;
            background-color: transparent !important;
          }
        }
      }
    }
  }
  #block-footermenuright{
    margin: 50px 0 0;
    ul.menu{
      li{
        a{
          color: $color-white;
          font-weight: 100;
          font-size: 14px;
          text-decoration: none;
          font-family: 'lato';
          &:hover{
            background-color: transparent !important;
          }
        }
      }
    }
  }
  @media (max-width: 768px){
    padding: 10px;
  }
}
.path-frontpage{
  .region-footer{
    position: absolute;
    width: 100%;
    bottom: inherit !important;
  }
}

.footer-content{
  display: flex;
  justify-content: space-between;
  .logo-ins{
    img{
      @media (max-width: $screen-phone){
        width: 100%;
      }
    }
  }
}