
.nav-stacked {
  li {
    display: inline-block;
    flex: 3;
    a {
      color: #7DBB2F;
      border-right: 1px solid #ddd;
      margin: 0 5px;
      border-radius: 0;
      padding-top: 10px;
      a.last-child {
        border-right: none;
      }
    }
  }
}
@media only screen and (min-width: 479pxpx) and (max-width: 768px) {
  .nav-stacked {
    display:flex;
  }
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  #block-mainnavigation{
    text-align: right;
    width: 100%;
  }
  .toggler-example {
    float: right;
    padding: 15px;
    .dark-blue-text {
      display: none;
    }
  }
  .nav-stacked {
    flex-direction: column;
    z-index: 10;
    background: #fff;
    width: 100%;
    li {
      display: block;
      flex: 3;
      a {
        color: #7DBB2F;
        border-right: none;
        border-bottom: 1px solid #ddd;
        margin-left: 150px;
        a.last-child {
          border-bottom: none;
        }
      }
    }
  } 
}
